.fan_box .full_widget {
    border: solid 1px #85019c;
}

.fan_box .connect_action .name_block a {
    color: #85019c;
}

.fan_box .connect_action .name_block a:hover {
    color: #956000;
}

.fan_box .full_widget .connect_top {
    background: #f6c772 !important;
}

.fan_box .connections {
    border-top: solid 1px #d7a9df;
}

.grid_item {
    float: left;
    overflow: hidden;
    padding: 0 12px 8px 0 !important;
    width: 50px;
}